name = "candc-ch-booking"
compatibility_date = "2026-05-20"
pages_build_output_dir = "_site"

[[d1_databases]]
binding = "DB"
database_name = "candc-booking"
database_id = "REPLACE_WITH_D1_DATABASE_ID"

[vars]
PUBLIC_BASE_URL = "https://candc.ch"
DEFAULT_BOOKING_UNIT_CODE = "parking-space"
TOURIST_TAX_ADULT_CHF = "3"
WC_SHOWER_CLEANING_FEE_CHF = "10"
PAYMENT_FEE_RATE = "0.025"
PAYMENT_FEE_FIXED_CHF = "0"
TIMEZONE = "Europe/Zurich"
DEFAULT_CHECK_IN_TIME = "15:00:00"
DEFAULT_CHECK_IN_END_TIME = "21:00:00"
DEFAULT_CHECK_OUT_TIME = "10:00:00"
ENABLE_GOOGLE_CALENDAR_SYNC = "false"
MIN_STAY_NIGHTS_PARKING_SPACE = "1"
MIN_STAY_NIGHTS_ECO_STUDIO = "4"
ADMIN_ACCESS_TOKEN = "REPLACE_WITH_A_LONG_ADMIN_TOKEN"
ADMIN_NOTIFICATION_EMAIL = "bonjour@candc.ch"
EMAIL_FROM = "C&C Reservations <reservations@candc.ch>"
EMAIL_REPLY_TO = "bonjour@candc.ch"
RESEND_API_KEY = "re_REPLACE_WITH_RESEND_API_KEY"
SUMUP_API_BASE_URL = "https://api.sumup.com"
SUMUP_MERCHANT_CODE = "REPLACE_WITH_SUMUP_MERCHANT_CODE"
SUMUP_API_KEY = "REPLACE_WITH_SUMUP_API_KEY"
WIFI_STUDIO_PASSWORD = "REPLACE_WITH_STUDIO_WIFI_PASSWORD"
WIFI_TERRACE_PASSWORD = "REPLACE_WITH_TERRACE_WIFI_PASSWORD"
KEY_BOX_STUDIO_CODE = "REPLACE_WITH_KEY_BOX_STUDIO_CODE"
GARAGE_INSTRUCTIONS = "REPLACE_WITH_GARAGE_INSTRUCTIONS_JSON"
WHATSAPP_LINE = "REPLACE_WITH_WHATSAPP_LINE"
STUDIO_ADDRESS = "REPLACE_WITH_STUDIO_ADDRESS"
INTERNAL_SYNC_TOKEN = "REPLACE_WITH_A_LONG_INTERNAL_SYNC_TOKEN"
GOOGLE_SERVICE_ACCOUNT_EMAIL = "service-account@project.iam.gserviceaccount.com"
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\\nREPLACE_WITH_PRIVATE_KEY\\n-----END PRIVATE KEY-----\\n"
