---
layout: base.njk
title: De parkeerplaats boeken
description: Rechtstreekse online boeking van de C & C parkeerplaats nabij Fribourg.
locale: nl
permalink: /nl/parking/booking/
ogImage: assets/img/logo-cc.jpg
---

{% include "parking-booking-page.njk" %}
