---
layout: base.njk
locale: it
title: Prenotazione studio
description: Prenota direttamente il C&C Eco Studio con prezzo in tempo reale e pagamento sicuro.
permalink: /it/eco-studio/booking/
---
{% set bookingData = studio_booking_ui %}
{% set bookingUnitCode = 'eco-studio' %}
{% include "parking-booking-page.njk" %}
