---
layout: base.njk
title: Prenotare il parcheggio
description: Prenotazione diretta online del posto auto C & C vicino a Friburgo.
locale: it
permalink: /it/parking/booking/
ogImage: assets/img/logo-cc.jpg
---

{% include "booking-page.njk" %}
