---
layout: base.njk
title: Parkplatz buchen
description: Direkte Online-Buchung fur den C & C Parkplatz in der Nahe von Freiburg.
locale: de
permalink: /de/parking/booking/
ogImage: assets/img/logo-cc.jpg
---

{% include "parking-booking-page.njk" %}
