---
layout: base.njk
locale: fr
title: Réservation directe studio près de Fribourg
description: Réservez directement le C&C Eco Studio près de Fribourg, avec disponibilité en temps réel, séjour minimum de 4 nuitées et paiement sécurisé.
permalink: /fr/eco-studio/booking/
---
{% set bookingData = studio_booking_ui %}
{% set bookingUnitCode = 'eco-studio' %}
{% include "booking-page.njk" %}
