---
layout: base.njk
title: Réservation directe emplacement camping-car près de Fribourg
description: Réservez en direct votre emplacement van ou camping-car près de Fribourg, en Suisse, avec disponibilité en temps réel et paiement sécurisé.
locale: fr
permalink: /fr/parking/booking/
ogImage: assets/img/logo-cc.jpg
---

{% include "booking-page.njk" %}
