---
layout: base.njk
title: Reserver le parking
description: Reservation directe en ligne de la place de parking C & C pres de Fribourg.
locale: fr
permalink: /fr/parking/booking/
ogImage: assets/img/logo-cc.jpg
---

{% include "parking-booking-page.njk" %}
